@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: League Spartan;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  max-width: 1110px;
  padding: 0 50px;
  margin: 0 auto;
  box-sizing: content-box;
}

.headingXL {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: -1px;
}

.headingL {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
}

.headingM {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
}

.headingS {
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2.5px;
}

.text-1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.text-2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.btn {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px 55px 23px 54px;
}

.btn-light {
  color: #111;
  border: 1px solid #111;
}
.btn-light:hover {
  color: #fff;
  background: #111;
}

.btn-dark {
  color: #fff;
  border: 1px solid #FFF;
}
.btn-dark:hover {
  color: #17192B;
  background: #fff;
}

.btn-inactive {
  opacity: 0.25;
}

.tablet, .mobile {
  display: none;
}

header {
  width: 100%;
  color: #fff;
  background-color: #111;
  background-image: url(../img/desktop/homepage/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 65px;
  padding-bottom: 198px;
}
header .promo_page .logo {
  margin-bottom: 153px;
}
header .promo_page .promo_content {
  display: flex;
  align-items: end;
}
header .promo_page .promo_content .text h1 {
  max-width: 508px;
  margin-bottom: 10px;
}
header .promo_page .promo_content .text p {
  max-width: 445px;
  margin-bottom: 40px;
}
header .promo_page .promo_content .timer {
  display: flex;
  gap: 24px;
}
header .promo_page .promo_content .timer div {
  width: 120px;
  height: 120px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .promo_page .promo_content .timer div .value {
  color: #111;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 2.5px;
}
header .promo_page .promo_content .timer div .name {
  color: #111;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  opacity: 0.6999999881;
}

main {
  flex-grow: 1;
}
main .information {
  background-image: url(../img/pattern/pattern-curve-top-right.svg), url(../img/pattern/pattern-curve-top-left.svg);
  background-repeat: no-repeat;
  background-position: left 250px, right bottom;
  background-color: #fff;
}
main .information section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  color: #242B37;
}
main .information section .section-text {
  max-width: 445px;
}
main .information section .section-text svg {
  margin-bottom: 55px;
}
main .information section .section-text h5 {
  margin-bottom: 27px;
}
main .information .place .img {
  transform: translateY(-70px);
}
main .information .place .img img {
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}
main .information .place .section-text {
  transform: translateY(-50px);
}
main .information .food {
  flex-direction: row-reverse;
  margin-top: -30px;
}
main .information .food .img {
  position: relative;
  transform: translateY(80px);
}
main .information .food .img .design {
  position: absolute;
  top: 282px;
  right: -114px;
}
main .information .food .section-text {
  transform: translateY(60px);
}
main .menu {
  color: #fff;
  background: #111;
  padding-top: 200px;
  padding-bottom: 123px;
}
main .menu .menu-content {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
main .menu .menu-content .content {
  max-width: 445px;
}
main .menu .menu-content .content svg {
  margin-bottom: 55px;
}
main .menu .menu-content .content h5 {
  margin-bottom: 27px;
}
main .menu .menu-content .slider-part {
  display: flex;
  align-items: center;
  gap: 40px;
}
main .menu .menu-content .slider-part svg {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .menu .menu-content .slider-part svg.right {
  rotate: 180deg;
}
main .menu .menu-content .slider-part .slider {
  display: none;
  width: 444px;
}
main .menu .menu-content .slider-part .slider .slider-img {
  position: relative;
  margin-bottom: 24px;
  z-index: 2;
}
main .menu .menu-content .slider-part .slider .slider-img::after {
  content: "";
  position: absolute;
  width: 540px;
  height: 1px;
  top: 175px;
  left: calc(50% - 270px);
  background: white;
  opacity: 0.15;
  z-index: -1;
}
main .menu .menu-content .slider-part .slider .slider-img::before {
  content: "";
  position: absolute;
  width: 540px;
  height: 1px;
  top: 320px;
  left: calc(50% - 270px);
  background: white;
  opacity: 0.15;
  z-index: 1;
}
main .menu .menu-content .slider-part .slider .slider-text h6 {
  margin-bottom: 6px;
}
main .menu .menu-content .slider-part .slider .slider-text p {
  max-width: 350px;
}
main .menu .menu-content .slider-part .active {
  display: block;
}
main .tabs {
  background-image: url(../img/pattern/pattern-curve-top-right.svg);
  background-repeat: no-repeat;
  background-position: -350px 0;
  background-color: #fff;
  padding: 160px 0;
}
main .tabs .tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
main .tabs .tab .tab-img {
  position: relative;
}
main .tabs .tab .tab-img svg {
  position: absolute;
  top: -38px;
  left: -40px;
}
main .tabs .tab .tab-img div img {
  display: none;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
}
main .tabs .tab .tab-img div .active {
  display: flex;
}
main .tabs .tab .tab-content a {
  color: #fff;
  border: 1px solid #111;
  background: #111;
  margin-bottom: 79px;
}
main .tabs .tab .tab-content a:hover {
  color: #111;
  background: transparent;
}
main .tabs .tab .tab-content .content-text {
  display: none;
  margin-bottom: 30px;
}
main .tabs .tab .tab-content .content-text h5 {
  margin-bottom: 19px;
}
main .tabs .tab .tab-content .content-text > p {
  max-width: 445px;
}
main .tabs .tab .tab-content .family {
  margin-bottom: 60px;
}
main .tabs .tab .tab-content .active {
  display: block;
}
main .tabs .tab .tab-content .tab-change p {
  color: #4C4C4C;
  cursor: pointer;
  opacity: 0.5;
}
main .tabs .tab .tab-content .tab-change p:hover {
  opacity: 1;
}
main .tabs .tab .tab-content .tab-change .active {
  position: relative;
  opacity: 1;
}
main .tabs .tab .tab-content .tab-change .active::before {
  content: "";
  position: absolute;
  width: 95px;
  height: 1px;
  top: 13px;
  left: -125px;
  background: #9E7F66;
}
main .reservation {
  color: #fff;
  background-image: url(../img/desktop/homepage/bg-footer.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 88px 0;
}
main .reservation .reservation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  width: 100%;
  color: #fff;
  background: #111;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 78px;
  padding-bottom: 76px;
}
footer .footer-content a {
  align-self: start;
}
footer .footer-content div {
  display: flex;
  gap: 124px;
}
footer .footer-content div address, footer .footer-content div .worktime {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer .footer-content div .worktime {
  width: 450px;
}

@media (max-width: 1023px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }
  .container {
    max-width: 689px;
    padding: 0 40px;
  }
  .headingXL {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.6px;
  }
  header {
    background-image: url(../img/tablet/homepage/bg-header.jpg);
    background-position: top center;
    padding-top: 374px;
    padding-bottom: 216px;
  }
  header .promo_page .logo {
    text-align: center;
    margin-bottom: 38px;
  }
  header .promo_page .promo_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  header .promo_page .promo_content .timer {
    display: none;
  }
  header .promo_page .promo_content h1 {
    max-width: 300px;
    margin-bottom: 20px;
  }
  header .promo_page .promo_content p {
    max-width: 575px;
    margin-bottom: 52px;
  }
  main .information {
    background-position: -517px 100px, right -511px bottom;
  }
  main .information section {
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }
  main .information section .section-text {
    text-align: center;
    max-width: 457px;
  }
  main .information section .section-text svg {
    margin-bottom: 39px;
  }
  main .information .place .img {
    transform: translateY(-96px);
  }
  main .information .place .section-text {
    transform: translateY(-96px);
  }
  main .information .food {
    flex-direction: column;
    margin-top: 13px;
    padding-bottom: 118px;
  }
  main .information .food .img {
    transform: translateY(0px);
  }
  main .information .food .img .design {
    top: 228px;
    right: -58px;
  }
  main .information .food .section-text {
    transform: translateY(0px);
  }
  main .menu {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  main .menu .menu-content {
    flex-direction: column;
    align-items: center;
    gap: 54px;
  }
  main .menu .menu-content .content {
    text-align: center;
  }
  main .menu .menu-content .content svg {
    margin-bottom: 39px;
  }
  main .menu .menu-content .slider-part {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  main .menu .menu-content .slider-part svg {
    display: none;
  }
  main .menu .menu-content .slider-part .slider {
    display: block;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 580px;
    z-index: 2;
  }
  main .menu .menu-content .slider-part .slider:not(:nth-child(4)) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  main .menu .menu-content .slider-part .slider .slider-img {
    margin-bottom: 24px;
  }
  main .menu .menu-content .slider-part .slider .slider-img::after {
    width: 32px;
    top: 18px;
    right: -32px;
    background: #9E7F66;
    opacity: 1;
  }
  main .menu .menu-content .slider-part .slider .slider-img::before {
    display: none;
  }
  main .menu .menu-content .slider-part .slider .slider-text p {
    max-width: 383px;
  }
  main .tabs {
    background-position: -517px 0;
    padding: 120px 0;
  }
  main .tabs .tab {
    flex-direction: column;
    gap: 57px;
  }
  main .tabs .tab .tab-img svg {
    left: -58px;
  }
  main .tabs .tab .tab-img div img {
    box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.5);
  }
  main .tabs .tab .tab-img div .active {
    display: flex;
  }
  main .tabs .tab .tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .tabs .tab .tab-content .content-text {
    margin-bottom: 30px;
    text-align: center;
  }
  main .tabs .tab .tab-content .content-text > p {
    max-width: 445px;
  }
  main .tabs .tab .tab-content .family {
    margin-bottom: 60px;
  }
  main .tabs .tab .tab-content .active {
    display: block;
  }
  main .tabs .tab .tab-content .tab-change {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    order: -1;
    margin-bottom: 47px;
  }
  main .tabs .tab .tab-content .tab-change p {
    color: #4C4C4C;
    cursor: pointer;
    opacity: 0.5;
  }
  main .tabs .tab .tab-content .tab-change p:hover {
    opacity: 1;
  }
  main .tabs .tab .tab-content .tab-change .active {
    position: relative;
    opacity: 1;
  }
  main .tabs .tab .tab-content .tab-change .active::before {
    width: 48px;
    top: 35px;
    left: calc(50% - 24px);
  }
  main .reservation {
    background-image: url(../img/tablet/homepage/bg-footer.jpg);
    padding: 72px 0 64px;
  }
  main .reservation .reservation-content {
    flex-direction: column;
    gap: 24px;
  }
  footer .footer-content {
    padding-top: 64px;
    padding-bottom: 62px;
  }
  footer .footer-content div {
    flex-direction: column;
    gap: 32px;
  }
  footer .footer-content div .worktime {
    width: auto;
  }
}/*# sourceMappingURL=main.css.map */