@import "./style.scss";

header{
    width: 100%;
    color: #fff;
    background-image: url(../img/desktop/booking/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    
    padding-top: 65px;

    .promo_page{
        display: flex;
        justify-content: space-between;

        .logo{
            margin-bottom: 153px;
        }

        .promo_content{
            .text{
                h1{
                    margin-bottom: 18px;
                }
                p{
                    max-width: 445px;
                }
            }
        }

        form{
            width: 100%;
            max-width: 540px;
            height: 545px;
            
            display: flex;
            flex-direction: column;
            
            background: #fff;
            padding: 50px 48px 48px;
            box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.50);
            transform: translateY(200px);
    
            .error-text{
                visibility: hidden;
                color: #B54949;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: -0.125px;
            }
    
            .input{
                display: flex;
                flex-direction: column;
                margin-bottom: 14px;
            }
            input{
                padding-left: 15px;
                padding-bottom: 15px;
                margin-bottom: 10px;
                border: none;
                border-bottom: 1px solid #8E8E8E;
                color: #111;
                outline: none;
            }
            .error{
                color: #B54949;
                border-color: #B54949;
                &::placeholder{
                    color: #B54949;
                }
            }
    
            #firstname, #email{
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
            }
    
            .date{
                margin-bottom: 34px;
            }
            .time{
                margin-bottom: 36px;
            }
            .date, .time{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .label{
                    display: flex;
                    flex-direction: column;
                }
    
                label{
                    color: $primary-dark;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 28px;
                }
                select{
                    width: 80px;
                    height: 43px;
                    appearance: none;
                    border: none;
                    border-bottom: 1px solid #8E8E8E;
                    padding-left: 16px;
                    padding-bottom: 16px;
    
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 28px;
                    outline: none;
                    cursor: pointer;
                }
                .error{
                    border-color:#B54949;
                }
                .select{
                    display: flex;
                    gap: 16px;
    
                    &:last-child(){
                        width: 97px;
                    }
                }

                select[name="part"]{
                    background-image: url(../img/icons/icon-arrow.svg);
                    background-repeat: no-repeat;
                    background-position: right 10px;
                }
            }
            
            .people{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                color: #151515;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: -0.25px;
    
                padding-bottom: 10px;
                margin-bottom: 32px;
                border-bottom: 1px solid #8E8E8E;
    
                .minus, .plus{
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    width: 50px;
                    height: 30px;
                    
                    cursor: pointer;
                    user-select: none;
                }
            }
    
            button{
                cursor: pointer;
                border: none;
                outline: none;
                color: white;
                background: $primary-dark;
    
                &:hover{
                    background: transparent;
                    color: $primary-dark;
                    border: 1px solid $primary-dark
                }
            }
        }
    }

    .page{
        height: 320px;
        background-color: #fff;
        background-image: url(../img/pattern/pattern-curve-bottom-right.svg);
        background-repeat: no-repeat;

        display: flex;
        justify-content: center;
        svg{
            margin-top: 166px;
        }
    }
}

main{
    flex-grow: 1;
    background: #fff;
}

footer{
    width: 100%;

    color: #fff;
    background: $primary-dark;

    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: 78px;
        padding-bottom: 76px;
        
        a{
            align-self: start;
        }

        div{
            display: flex;
            justify-content: space-between;
            
            flex-grow: .5;

            address, .worktime{
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                line-height: 28px;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 1023px){
    .container{
        max-width: 689px;
        padding: 0 40px;
    }
    
    .headingXL{
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.6px;
    }

    header{
        background-image: url(../img/tablet/booking/bg-tablet.jpg);
        background-size: contain;
        
        .promo_page{
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .logo{
                margin-bottom: 70px;
            }
    
            .promo_content{
                .text{
                    text-align: center;
                    h1{
                        margin-bottom: 12px;
                    }
                    p{
                        max-width: 573px;
                    }
                }
            }
    
            form{
                transform: translateY(38px);
                margin-bottom: 120px;
            }
        }
    
        .page{
            height: 0;
            background-image: none;
            svg{
                display: none;
            }
        }
    }

    footer{
        .footer-content{
            padding-top: 64px;
            padding-bottom: 62px;
            gap: 50px;
    
            div{
                flex-direction: column;
                gap: 32px;
            }
        }
    }
}

@media (max-width: 545px){
    .container{
        max-width: 327px;
        padding: 0 24px;
    }
    
    .headingXL{
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.4px;
    }
    .headingL{   
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.4px;
    }
    .text-1{
        font-size: 16px;
        line-height: 26px;
    }

    header{
        background-image: url(../img/mobile/booking/bg-mobile.jpg);
    
        .promo_page{
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .logo{
                text-align: center;
                margin-bottom: 44px;
            }
    
            .promo_content{
                .text{
                    p{
                        margin-bottom: 19px;
                    }
                }
            }
    
            form{
                max-width: 327px;
                height: 585px;
        
                padding: 34px 32px 32px;
                // margin-bottom: 86px;
        
                .date, .time{
                    flex-direction: column;
                    align-items: flex-start;
                }

                button{
                    padding: 25px 20px;
                }
            }
        }
    }
    

    footer{
        .footer-content{
            padding-top: 80px;
            padding-bottom: 78px;

            flex-direction: column;
            text-align: center;
            gap: 42px;

            a{
                align-self: center;
            }
        }
    }
}

@media (max-width: 340px){
    header{
        .promo_page{
            form{
                .date, .time{
                    select{
                        width: 60px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}